/* general styling */

:root {
    --toggler-size: 40px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", "Helvetica", 'sans-serif';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
}

*:focus {
    box-shadow: 0 0 2px #ffffff;
    border: 0.1rem solid #ffffff;
}

.hide {
    max-height: 2px;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
    max-height: 18.750em;
    margin-top: 0.5rem;
}

.blur {
    filter: blur(5px) grayscale(1);
}

body>nav {
    background-color: rgb(255, 88, 88);
    min-height: 3em;
}

body>nav ul {
    padding: 0;
    margin: 0;
    background-color: inherit;
    list-style-type: none;
}

@media only screen and (max-width: 40em) {
    body>nav>ul {
        max-height: 0;
        opacity: 0;
    }
}

@media only screen and (min-width: 40em) {
    body>nav>ul {
        display: flex;
    }
}

body>nav>ul>li:nth-child(2) >a::after {
    content: " ";
    position: absolute;
    background: url("images/triangle-white.svg") no-repeat;
    height: 26px;
    width: 26px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

body>nav li a:hover,
body>nav li a:focus {
    color: #333333;
    background-color: rgb(255, 255, 255);
}

body>nav>ul>li {
    padding: 0;
    background-color: inherit;
}

body>nav>ul>li a {
    width: 100%;
    padding: 0.3rem 0;
    height: 100%;
    color: #ffffff;
    font-weight: 100;
}

body>nav>ul>li a,
body>nav label {
    display: inherit;
    text-align: center;
    font-size: 1.3em;
    white-space: nowrap;
    padding: 0.5rem 1.2rem;
}

body>nav li ul {
    position: absolute;
    padding: 0;
    z-index: 1000;
    background-color: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    /*background-color: rgb(255, 88, 88);*/
}

@media only screen and (max-width: 40em) {
    body>nav li ul {
        height: 0;
    }
}

input[type='checkbox'] {
    -webkit-clip: rect(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0);
}

nav input[type='checkbox'] {
    margin-left: -10em;
    height: 0;
}

.login input[type='checkbox'] {
    position: absolute;
}

.menu-toggler {
    display: block;
    width: var(--toggler-size);
    height: var(--toggler-size);
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}

.menu-toggler span {
    height: calc(var(--toggler-size) / 7);
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    transition-property: transform, opacity;
    transition-duration: .5s, .25s;
    transition-delay: 0s, .5s;
}

.input-toggler:checked~.menu-toggler span:nth-child(2) {
    transition-delay: .25s, 0s;
}

.menu-toggler span:nth-child(2) {
    top: calc(var(--toggler-size) / 5 * 2.5);
}

.menu-toggler span:nth-child(3) {
    top: calc(var(--toggler-size) / 5 * 4);
}

.input-toggler:checked~.menu-toggler span:nth-child(1) {
    transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
}

.input-toggler:checked~.menu-toggler span:nth-child(2) {
    opacity: 0;
}

.input-toggler:checked~.menu-toggler span:nth-child(3) {
    transform: translateY(calc(var(--toggler-size) / 5 * -1)) rotate(-45deg);
}

@media only screen and (min-width: 40em) {
    .menu-toggler,
    .input-toggler {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
}

.grid-container {
    margin-top: 4.5em;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100% repeat(5, 40%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    z-index: -1;
}

@media only screen and (min-width: 93.750em) {
    .grid-container {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

h1,
h2,
h3 {
    margin: 0;
}

article h2 {
    grid-column: span 2;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: rgb(255, 88, 88);
    text-decoration: underline;
}

img {
    width: 100%;
}

article {
    padding: 1em;
    /*    height: 100%;
    width: 100%;*/
}

.block1 {
    grid-row: span 2;
    background-color: #255985;
    position: relative;
}

@media only screen and (min-width: 93.750em) {
    .block1 {
        order: 1;
    }
}

@media only screen and (max-width: 63.750em) {
    .block1 {
        grid-column: span 2;
    }
}

.block1 img {
    width: 100%;
    max-height: 30em;
    margin-bottom: 0.2em;
    overflow: hidden;
}

@media only screen and (min-width: 93.750em) {
    .block1 img {
        max-height: none;
    }
}

.block1 p {
    max-width: 35em;
    margin: 0.2em 0 0 0;
}

.rating {
    padding-top: 1em;
    font-size: 0.6em;
}

.rating label:hover {
    color: #ffffff;
}

input[name="rating"] {
    display: none;
}

input[name="rating"]:checked+label {
    font-size: 2.5em;
}

input[name="rating"]:checked+label svg {
    transition: 1s;
    transform: rotate(360deg);
}

fieldset {
    border: none;
    display: flex;
    padding: 0;
}

fieldset svg {
    display: flex;
    width: 1.5em;
}

.rating-row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 7em;
    padding: 0;
    justify-content: space-around;
    padding-top: .5em;
}

.rating label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: 600;
    font-size: 2em;
    z-index: 10;
}

.block2 {
    grid-template-rows: 10% repeat(2, 25%);
    background-color: cadetblue;
    grid-row: span 4;
    position: relative;
}

@media only screen and (max-width: 63.750em) {
    .block2 {
        grid-column: span 2;
        display: inherit;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
}

.block2 section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: start;
    margin: 0.7em 0;
    position: relative;
}

@media only screen and (max-width: 40em) {
    .block2 section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column: span 2;
    }
}

.block2 div {
    clip-path: inset(0 0 10% 0);
    max-height: 6em;
    margin-right: 0.5em;
}

.block2 h2 {
    color: #ffffff;
}

.block2 p {
    margin: 0;
    grid-column-gap: 0.5em;
    padding-top: 0em;
}

.block3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5em;
    padding-top: 1em;
    background-color: #207DCC;
    position: relative;
}

@media only screen and (min-width: 93.750em) {
    .block3 {
        order: 2;
    }
}

@media only screen and (max-width: 63.750em) {
    .block3 {
        grid-column: span 2;
    }
}

.block3 section {
    position: inherit;
    padding-bottom: 1em;
}

@media only screen and (max-width: 40em) {
    .block3 section {
        grid-column: span 2;
    }
}

.block3 div {
    clip-path: inset(0 0 10% 0);
    max-height: 20em;
}

article h3>a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
}


/*----------------------------------------------*/


/* chat */

.chat {
    grid-column: span 1;
    padding: 1em;
    background-color: #207DCC;
    color: white;
}

@media only screen and (max-width: 63.75em) {
    .chat {
        grid-column: span 2;
        padding: 1em;
    }
}

.chat ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-height: 60%;
}

.chat li {
    width: 80%;
    color: #333333;
}

.chat p {
    text-align: inherit;
    color: white;
}

.chat li:nth-child(odd) {
    align-self: flex-end;
}

.chat li:nth-child(even)>p {
    background: rgba(244, 244, 244, 1);
    color: inherit;
}

.chat li>p {
    background: rgba(255, 88, 88, 1);
    padding: 1em;
    border-radius: 0.8em;
    font-weight: 300;
    text-align: initial;
}


/* chat footer */

.chat footer p {
    font-size: 0.8em;
}

.chat li:nth-child(odd) footer p {
    text-align: right;
    font-weight: 300;
}


/*Make a difference between messages that have not been read.*/

.chat li:nth-child(1) footer p:nth-child(2) {
    color: rgb(255, 207, 90);
    font-weight: 500;
}

footer p:nth-child(2) {
    color: rgba(255, 88, 88, 1);
}

time {
    font-weight: 400;
}


/* chat form */

.chat form {
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 0.5rem;
    border: none;
}

textarea {
    height: 4em;
}

button[type="submit"] {
    font-size: 1.4em;
    height: 3.2rem;
    margin-top: 0.5em;
    font-weight: 400;
    color: #555555;
    border: 0;
    background-color: #ffac58;
}

.chat+nav {
    padding: 1em;
    color: #255985;
    background-color: #ffcf5a;
}

.chat+nav li {
    color: inherit;
}

@media only screen and (max-width: 63.75em) {
    .chat+nav {
        grid-column: span 2;
    }
}

.finish-order {
    background: #80CED6;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: .15em;
    color: white;
    text-transform: uppercase;
    padding: 5vw;
    flex-basis: 50vw;
}

.finish-order nav {
    display: flex;
    flex-direction: column;
    padding: 4em 0 2em 0;
    width: 100%;
    height: auto;
}


/*all links get a white color*/

.finish-order a {
    color: #ffffff;
}


/*hocus on links in finish order*/

.finish-order a:hover,
.finish-order a:focus {
    color: inherit;
}


/*Changes appearance of every ordered list sibling of progress*/

progress+ol {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

progress+ol li {
    list-style-type: none;
    display: flex;
    color: #6e8894;
}


/*Used tips to style progress bar from: https://css-tricks.com/html5-progress-element/*/


/*Appearance is not well supported in IE*/

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1em;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background: white;
}

progress[value]::-moz-progress-bar {
    background: background: white;
}

progress[value]::-webkit-progress-value {
    background: rgba(255, 88, 88, 1);
    ;
}

progress[value] {
    background: white;
    border: none;
}

.block3+nav {
    background-color: #ffdf5c;
    padding: 0 1em;
    grid-column: span 1;
}

.block3+nav h1 {
    color: #255985;
}

@media only screen and (max-width: 63.75em) {
    .block3+nav {
        grid-column: span 2;
    }
}

@media only screen and (min-width: 93.750em) {
    .block3+nav {
        order: 5;
        align-self: center;
    }
}

ol li:nth-child(2) a {
    color: #207DCC;
    font-weight: 600;
}


/*-------------------------------------------*/


/* inlogformulier */

.login {
    background-color: #207DCC;
    width: 100%;
    grid-column: span 1;
    padding: 1em;
    color: white;
}

@media only screen and (max-width: 63.75em) {
    .login {
        grid-column: span 2;
    }
}

.login form {
    padding: 1em;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    white-space: inherit;
    background-color: #207DCC;
}

@media only screen and (max-width: 63.75em) {
    .login form {
        width: 85%;
    }
}

label {
    margin-bottom: 0.2em;
    align-items: center;
}

textarea {
    height: 4em;
}

input,
textarea {
    padding: 0.5rem;
    border: none;
}

form:invalid {
    background: #207DCC;
}

legend {
    font-weight: bold;
}

input {
    border-color: #000;
    padding: .25em;
    font-size: 1.25em;
    margin-bottom: 1em;
    width: 100%;
    transition: all .2s;
    z-index: 2;
}

input:valid {
    border-color: green;
}

input:invalid {
    background: #ffffff;
}

input:focus {
    transform: scale(1.01, 1.01);
}

input:disabled {
    border-color: #eee;
    background-color: #f9f9f9;
}

button {
    font-size: 1.25em;
    flex: 0 0 2em;
    transition: all .2s;
}

button:focus {
    transform: scale(1.1, 1.1);
}

.login input[type="checkbox"]:checked+label::before {
    content: '\2713';
    background: #ffac58;
    background-color: rgb(255, 88, 88);
}

.login input[type="checkbox"]+label::before {
    background: white;
    border: 1px solid #ffffff;
    border-radius: .2em;
    content: '\a0';
    display: inline-block;
    height: .8em;
    line-height: .65;
    margin-right: .2em;
    margin-top: 0.5em;
    text-indent: .15em;
    vertical-align: .2em;
    width: .8em;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    height: 3.2rem;
    display: block;
    float: right;
    transition: .3s ease;
    padding: 1% 2% 1% 2%;
    margin: 1em 0;
}

input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: #ffbcbc;
}

*::-webkit-input-placeholder {
    color: #888888;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #888888;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #888888;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #888888;
}

button[type="submit"] {
    font-size: 1.4em;
    height: 3.2rem;
    margin-top: 0.5em;
    font-weight: 400;
    color: #555555;
    border: 0;
    background-color: #ffac58;
}

.spinner {
    display: flex;
    flex-direction: inherit;
}

.spinner div:first-child {
    // background-color: white
    ;
    border: 5px solid #ffffff;
    /* red pink */
    border-top: 5px solid rgba(255, 88, 88, 1);
    border-radius: 100%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// .spinner div:nth-child(2)::before,
// .spinner div:nth-child(2)::after {
//     content: ' ';
//     border-radius: 100%;
//     background-color: white;
//     width: 3rem;
//     height: 3rem;
//     animation: size 2.0s infinite ease-in-out both;
// }
// .spinner div:nth-child(2)::after {
//     animation-delay: 0.5s;
//     content: ' ';
//     position: relative;
// }
@keyframes size {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.spinner2 {
    width: 2em;
    height: 2em;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: scale 1.0s infinite ease-in-out;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}


/*random background*/

.background- {
    background: hsl(20, 40%, 90%);
    background-image: linear-gradient(20deg, #f84f32 1.563em, transparent 0), linear-gradient(40deg, #fa7379 25px, transparent 0), linear-gradient(60deg, #f5b1a9 40px, transparent 0);
    background-size: 41px 100%, 3.813em 100%, 5.188em 100%;
    padding: 1em;
}

@media only screen and (max-width: 40em) {
    /*    .background- {
        margin-top: 0.2em;
    }*/
}
