/* general styling */
:root {
  --toggler-size: 40px;
  --black: #333333;
  --red-pink:rgba(255,88,88, 1);
  --red-pink-light:rgba(255,88,88, 0.8);
  --white: #ffffff;
  --white-trans: rgba(255,255,255, 0.5);
  --thin-font: 300;
  --med-font: 400;
  --thick-font: 600;
	--title-size: 1.5em;
}

* {
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

*:focus{
	box-shadow: 0 0 20px #ffffff;
	border: 0.2rem solid #ffffff;
}

html , body {
	width: 100%;
	height: 100%;
}

body {
	background: #40434E;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	font-family: "Helvetica Neue", "Helvetica",sans-serif;
	font-weight: 100;
	margin: 0;
  padding: 0;
}

h1, legend {
	width: 100%;
	text-align: center;
	font-size: var(--title-size);
	font-weight: 600;
	margin-bottom: .8em;
}

img {
	margin: 0;
	width: 100%;
	position: relative;
}


ul{
	list-style: none;
}
div {
	display: inherit;
	justify-content: space-between;
}


a {
	text-decoration: none;
	color: var(--white);
}
figcaption footer{
	display: none;

}
/* main navigation */
nav{
	width: 100%;
}

body > nav {
	background-color: var(--red-pink);
}

nav > h1{
	margin-bottom: 0;
}

nav > ul{
	padding: 0;
	margin: 0;
	background-color: inherit;

}

nav > ul > li a, nav label {
	display: inherit;
	text-align: center;
	font-size: 1.3em;
	white-space: nowrap;
	padding: 0.5rem 1.2rem;
}

.show{
	visibility: visible;
  opacity: 1;
  max-height: 300px;
}

.hide{
	max-height: 2px;
  opacity: 0;
}

.label-for-check:hover + ul {
	display: flex;
  flex-direction: column;
}

nav > ul > li a:hover, nav > ul > li a:focus{
	color: #333333;
	background-color:  ;
	background-color:  rgb(255, 255, 255);
}

nav > ul li > ul {
  position: absolute;
  padding: 0;
  margin-top: 2.5em;
  z-index: 1000;
  background-color: inherit;
  width: inherit;
	display: flex;
	flex-direction: column;
}

.input-toggler {
  display: none;
}



@media only screen  and (max-width: 40em){

nav > ul{
  max-height: 0;
  opacity: 0;
	transition: visibility 1s, opacity 1s, max-height 0.5s, linear;
  overflow: hidden;
}


nav > ul > li{
	padding:0;
}

nav > ul > li a{
	width: 100%;
	padding: 0.3rem 0;
	height: 100%;
}

nav li > ul a{
	color: #333333;
}

nav li > ul a:hover, nav li > ul a:focus{
	color: inherit;
	background-color:  var(--white);
	background-color:  rgb(255,88,88);
}

nav > ul li > ul {
  position: relative;
  padding: 0;
  margin-top: 0em;
  z-index: 1000;
  background-color: var(--white);

}

.menu-toggler {
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size);
  position: absolute;
  top: 0px;
  left: 10px;
  cursor: pointer;
}

.menu-toggler span {
  height: calc(var(--toggler-size) / 7);
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  transition-property: transform, opacity;
  transition-duration: .5s, .25s;
  transition-delay: 0s, .5s;
}

.input-toggler:checked ~ .menu-toggler span:nth-child(2){
  transition-delay: .25s, 0s;
}


.menu-toggler span:nth-child(2) {
  top: calc(var(--toggler-size) / 5 * 2.5);
}

.menu-toggler span:nth-child(3) {
  top: calc(var(--toggler-size) / 5 * 4);
}


.input-toggler:checked ~ .menu-toggler span:nth-child(1) {
  transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
}

.input-toggler:checked ~ .menu-toggler span:nth-child(2) {
  opacity: 0;
}

.input-toggler:checked ~ .menu-toggler span:nth-child(3) {
  transform: translateY(calc(var(--toggler-size) / 5 * -1)) rotate(-45deg);
}


}
@media only screen  and (min-width: 40em){
	.menu-toggler{
		display: none;
	}
	body > nav > ul {
		display: flex;

	}
}
/*----------------------------------------------*/

/* chat */

.chat ol{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	min-height: 60%;
}

.chat li{
	width: 80%;
  color: #333333;
}

.chat p {
	text-align: inherit;
	color:white;
}

.chat li:nth-child(odd){
  align-self: flex-end;
}

.chat li:nth-child(even) > p{
	background: rgba(244,244,244, 1);
	color:inherit;
}

.chat li > p{
  background: rgba(255,88,88, 1);
  padding: 1em;
	border-radius: 0.8em;
	font-weight: 300;
	text-align: initial;
}

/* chat footer */
.chat footer p {
	font-size: 0.8em;

}

.chat li:nth-child(odd) footer p{
	text-align: right;
	font-weight: 300;
}

/*Make a difference between messages that have not been read.*/
.chat li:nth-child(1) footer p:nth-child(2){
	color: rgba(50, 145, 204, 1);
	font-weight: 500;
}

footer p:nth-child(2) {
	color: rgba(255,88,88, 1);
}

time{
	font-weight: 400;
}

/* chat form */
.chat form{
	display: inherit;
	flex-direction: inherit;
}
label[for=field-message] {
	text-align: left;

}
@media only screen  and (min-width: 30em ) {
	.chat {
		max-width: 80vw;
	}
}

@media only screen  and (min-width: 40em ) {
	.chat {

		max-width: 60vw;
	}
}

@media only screen  and (min-width: 60em ) {
	.chat {

		max-width: 50vw;
	}
}

/*-------------------------------------------*/

/* main */

main {
	margin: 1em 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/*-------------------------------------------*/

/* section */
section {
	display: inherit;
	margin: 0em 1em;
	margin-bottom: 1em;
	padding: 1em;
	width: 95%;
	background-color: #555555;
}

section{
	flex-direction: column;
}

section:last-child{
	align-self: flex-start;
}

@media only screen  and (min-width: 80.500em ) {

	// main section:nth-child(3) figure img {
	//   margin: 0;
	//   width: 50%;
	//   height: 20rem;
	//   margin-right: 1em;
	// }

	// main section:nth-child(3) figure {
	// 	display: flex;
	// }

	// main section:nth-child(3){
	// 	max-width: 35rem;
	// }
}

// @media only screen  and (min-width: 35em){
// 	// section {
// 	// 	width: 80%;
// 	// }
// }

// @media only screen  and (min-width: 40em){
// 	// section {
// 	// 	width: 60%;
// 	// }
// }

// @media only screen  and (min-width: 46em){
// 	// section {
// 	// 	width: 40%;
// 	// }
// }

@media only screen  and (min-width: 41em) and (max-width: 50em) {

	main section{
		// width: 80%;
	}

	main section:nth-child(4) nav ul{
		align-items: center;
	}

	main section:nth-child(4) nav li{
		/* font-size: 0.8em;*/
	}

}

/*-------------------------------------------*/

/* inlogformulier */

.login form {
	padding: 1em;
  width: 85%;
  margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: 300;
	white-space: inherit;
	background-color: green;
}

label {
  margin-bottom: 0.2em;
  align-items: center;
}

textarea{
	height: 4em;

}

input, textarea{
	padding: 0.5rem;
	border: none;
}

form:invalid {
  background: var(--red-pink);
}

legend {
  font-weight:bold;
}

input {
  border-color:#000;
  padding:.25em;
  font-size: 1.25em;
  margin-bottom: 1em;
  width:100%;
  transition:all .2s;
  z-index:2;
}

input:valid {
  border-color:green;
}

input:invalid {

  background: var(--white-trans);
}

input:focus {
  transform: scale(1.01, 1.01);
}

input:disabled {
  border-color:#eee;
  background-color: #f9f9f9;
}

button {
  font-size: 1.25em;
  flex:0 0 2em;
  transition:all .2s;
}

button:focus {
  transform: scale(1.1, 1.1);
}

input[type='checkbox'], input[type='radio']{
	position: absolute;
	-webkit-clip: rect(0,0,0,0);
	clip: rect(0,0,0,0);
}

input[type="email"], input[type="password"]{
  width: 100%;
  height: 3.2rem;
  display: block;
  float: right;
  transition: .3s ease;
  padding:1% 2% 1% 2%;
  margin: 1em 0;
}

input[type="email"]:focus, input[type="password"]:focus,textarea:focus{
	background-color: #ffbcbc;
}

*::-webkit-input-placeholder {
    color: #888888;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #888888;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #888888;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #888888;
}

button[type="submit"]{
	font-size: 1.4em;
  height: 3.2rem;
  margin-top: 0.5em;
  font-weight: 400;
  color: #555555;
  border: 0;
  background-color: #ffac58;
}

// @media only screen  and (min-width: 20em) and (max-width: 55em) {

// 	form div {
// 		flex-direction: column;
// 	}

// 	form div a {
// 		margin-top: 0.5em;
// 	}

// }
@media only screen  and (min-width: 30em){
	.login{
		max-width: 80vw;
	}
}

@media only screen  and (min-width: 40em){
	.login{
		max-width: 65vw;
	}
}


@media only screen  and (min-width: 60em){
	.login{
		max-width: 45vw;
	}
}
/*-------------------------------------------*/

/* paragagraph */
p {
  max-width: 25em;
  line-height: 160%;
  // text-align: justify;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}

article h1 {
	margin: 0;
	padding: 0.5rem 0.2rem;
	color:  #ffffff;
}

article h1 a{
	color:  #ffffff;

}
figure {
	margin: inherit;

}

/*-------------------------------------------*/
/* progressbar */

nav ol {
  display: flex;
  justify-content: space-between;
  max-width: 40em;
  min-width: 17em;
  padding-left: 1rem;
  margin-right: 0.1rem;
}

/* progressbar styling */
progress {
	width: 100%;
}

progress[value] {
  width: 100%;
  height: 2rem;
}

/* Reset the default appearance */
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 1.2rem;

}

progress[value]::-webkit-progress-bar {
  background-color: #eee;

}

progress[value]::-webkit-progress-value::before {
  content: '80%';
  position: absolute;
  right: 0;
  top: -125%;

}

progress[value]::-webkit-progress-value::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-radius: 100%;
  right: 0.6rem;
  top: 0.6rem;
  background-color: white;

}

  /* adding graidient */
progress[value]::-webkit-progress-value {
		background-color: rgb(255,172,88);
    background-size: 2rem 1.5rem, 100% 100%, 100% 100%;

}

/* adding graidient (mozilla) */
progress[value]::-moz-progress-bar {
	background-color: rgb(255,172,88);
  background-size: 2rem 1.5rem, 100% 100%, 100% 100%;

}

/*emoticons-rating*/
.emoticons-rating {
	display: none;
}



svg{
	margin-top: 0.5rem;
	height: 3em;
	width: 3em;
}

svg:hover{
	transition: .25s;
	transform: scale(1.5);
	stroke: 1em;

}

.emoticons-rating label{

	display: inherit;
	flex-direction: column-reverse;
	align-items: center;

}

#smiley-circle-1:hover,#smiley-circle-2:hover,#smiley-circle-3:hover, #smiley-circle-4:hover{

	stroke: #ffffff;
	stroke-width: 0.2rem;

}

@media only screen  and (min-width: 60em){

	.emoticons-rating {
		display: flex;
		flex-direction:inherit;
		flex-wrap: wrap;
		justify-content: space-around;

	}
}
/*----------------------------------------------------*/

/* multiple media items*/
.media-items{

	display: inherit;
	flex-direction: inherit;
	flex-wrap:inherit;
	justify-content: space-around;

}
.media-items h1{
  // margin-bottom: 1rem;
  font-size: 3.8vw;
  text-align: left;
	float: right;
  display: block;
  max-width: 12.5em;

}

.media-items figure{//figure
  // width: 7em;
  // margin-right: 1.5rem;
  // margin-top: 1rem;

}

.media-items article{
	position: relative;
	max-width: 78vw;
	margin-bottom: 1em;
	border-bottom: 0.1rem solid var(--white);
	padding-bottom: 1em;

}
.media-items article::after{
    // content: ">";
    font-weight: var(--thick-font);
    position: relative;
    text-align: right;
    float: right;
    top: -2.5em;
    right: -1em;
}

.media-items img{
	display: block;
  max-width: 36%;
  max-height: 100%;
  float: left;
	margin: 0 auto;
	-webkit-clip-path: circle(2.1em at center);
	clip-path: circle(2.1em at center);
	}

.media-items p{
	line-height: 160%;
	display: none;
	word-spacing: -0.2em;
	letter-spacing: 0.1em;
  margin: 0em auto 1.5em auto;
	max-height: 4.5em;
	overflow: hidden;
}

// .media-items label{
// 	width: 100%;
// }

// .media-items input[type="checkbox"] {
// 	display: none;
// }

// .media-items input[type="checkbox"]:checked ~ p {
// 	height: auto;
//   -webkit-transition: height 4s; /* Safari */
//   transition: height 4s;
// }

// .media-items p:hover {
// 	height: auto;
// }

@media only screen  and (min-width: 40em){
	.media-items article:first-child{
		max-width: 49vw;
	}

	.media-items article:first-child h1{
		font-size: 2.7vw;
		font-weight: var(--thick-font);

	}
	.media-items article:first-child p{
		font-size: 1.2em;
	}


	.media-items article:last-child{
		margin-right: -5%;

	}

	.media-items h1{
		font-size: 2vw;
		font-weight: var(--thin-font);
		max-width: initial;
		background-color: rgba(255,172,88, 0.80);
	}

	.media-items img{
		-webkit-clip-path: inset(0em 0%);
		clip-path: inset(0em 0%);
		float: initial;
		margin: inherit;
		margin-right: .5em;
		max-width: 100%;
		min-width: 80%;
		max-height: 100%;
	}


}

@media only screen  and (min-width: 40em){
	.media-items article{
		max-width: 36.5vw;
	}
	.media-items p{
			display: block;
	}
}
@media only screen  and (min-width: 62.500em){
	.media-items h1{
		font-size: 2.2vw;
		margin-top: 2rem;
		z-index: 100;
		position: absolute;
		max-width: none;
		text-align: center;
	}

	.media-items img{
		-webkit-clip-path: inset(2em 0%);

		clip-path: inset(2em 0%);
	}
	.media-items p{
		display: block;
		max-height:  none;
		// max-width: 37vw;
		margin-top: -6%;
	}


	.media-items article:first-child{
		max-width: 51vw;
	}

	.media-items article:last-child{
		margin-right: -4em;

	}
}

/*----------------------------------------------------*/
/*spinner*/
.spinner{
	display: flex;
	flex-direction: inherit;
}
.spinner div:first-child {
		// background-color: white;
    border: 5px solid var(--white); /* Light grey */
    border-top: 5px solid var(--red-pink); /* Blue */
    border-radius: 100%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner{
	// position: relative;
	// display: inline-block;
}
// .spinner div:nth-child(2){
// 	background-color: purple;
// }

.spinner div:nth-child(2)::before, .spinner div:nth-child(2)::after{
	content: ' ';
	border-radius: 100%;
	background-color: white;
	width: 3rem;
	height: 3rem;
	animation: size 2.0s infinite ease-in-out both
}

.spinner div:nth-child(2)::after{

	animation-delay: 0.5s;
	content: ' ';
	position: relative;




	 /* (container width - part width)/2  */


 /* container height - part height */
	// transform-origin: 50% 2.5em; /* container height / 2 */

	// animation-delay: 10s;


}
// div:nth-child(3){
// 	animation-delay: 1s;

// }

@keyframes size {
  0%,100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  } 50% {
    transform: scale(1);
    -webkit-transform: scale(1);
      // transform-origin: center left;
  }
}

/*random background*/
.background- {
	margin: 1.5em 0;
  background: hsl(20, 40%, 90%);
  background-image:
    linear-gradient(20deg, #f84f32 25px, transparent 0),
    linear-gradient(40deg, #fa7379 25px, transparent 0),
    linear-gradient(60deg, #f5b1a9 40px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}
